<%- include('../layouts/cabecera.ejs') %>
<br>
<div class="card">
    <div class="card-header">
        Formulario de Ingreso 
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos de la Mascota</h5>
        <p class="card-text"><form method="post" action="/animales" enctype="multipart/form-data">

            <div class="form-group">
                <label for="my-input">NOMBRE:</label>
                <input id="my-input" class="form-control" type="text" name="nombre">
            </div>
        
            <div class="form-group">
                <label for="my-input">TIPO:</label>
                <input id="my-input" class="form-control" type="text" name="tipo">
            </div>
        
            <div class="form-group">
                <label for="my-input">SEXO:</label>
                <input id="my-input" class="form-control" type="text" name="sexo">
            </div>
        
            <div class="form-group">
                <label for="my-input">EDAD:</label>
                <input id="my-input" class="form-control" type="text" name="edad">
            </div>
        
        <br>
           <div class="form-group">
            <label for="my-input">FOTO</label>
            <input id="my-input" class="form-control-file" type="file" name="foto">
           </div>
        <br>
        
            <div class="form-group">
                <label for="my-input">EMAIL:</label>
                <input id="my-input" class="form-control" type="text" name="email">
            </div>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-primary" href="/animales">Cancelar</a>
        
        <br>
        
          
        
            
        </form>
    </p>
    </div>
</div>

<br>



<%- include('../layouts/pie.ejs') %>